<!DOCTYPE html>
<html lang="en-PH">
<head>
  <meta charset="UTF-8">
  <title>Platform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<header class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <nav class="navbar-left">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#profile" data-toggle="tab">Profile</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-push-4">
      <main class="main page-body">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img src="http://placehold.it/64" alt="Image" class="media-object">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">Media heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod aliquam.</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img src="http://placehold.it/64" alt="Image" class="media-object">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">Media heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod aliquam.</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img src="http://placehold.it/64" alt="Image" class="media-object">
            </a>
          </div>
          <div class="media-body">
            <h2 class="media-heading">Media heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod aliquam.</p>
          </div>
        </div>
      </main>
    </div>
    <div class="col-md-4 col-md-pull-8">
      <aside class="aside page-sidebar">
        <h2>Sidebar here</h2>

        <nav>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Hello</a></li>
            <li><a href="#">Hello</a></li>
            <li><a href="#">Hello</a></li>
            <li><a href="#">Hello</a></li>
          </ul>
          <hr>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#">Hello</a></li>
            <li><a href="#">Hello</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</div>
<footer class="">

</footer>
</body>
</html>
