<!DOCTYPE html>
<html lang="en-PH">
<head>
  <meta charset="UTF-8">
  <title>Platform</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="platform-body mdc-typography">

<header class="mdc-toolbar mdc-toolbar--fixed platform-header">
  <div class="mdc-layout__header-row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <div class="mdc-toolbar__title">Platform</div>
    </section>
  </div>
</header>

<div class="mdc-toolbar-fixed-adjust platform-content">
  <aside class="mdc-permanent-drawer">
    <div class="mdc-list-group">
      <nav class="mdc-list">
        <a href="#" class="mdc-list-item mdc-permanent-drawer--selected">Henlo</a>
        <a href="#" class="mdc-list-item">Helllo you stinky web devloper</a>
        <a href="#" class="mdc-list-item">Go create website uglly</a>
      </nav>
    </div>
  </aside>

  <main class="platform-main">
    <nav class="mdc-list mdc-list--two-line mdc-list--dense">
      <a href="#" class="mdc-list-item mdc-ripple-upgraded">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__text__primary">Two-line item</span>
                  <span class="mdc-list-item__text__secondary">Secondary text</span>
                </span>
      </a>
      <a href="#" class="mdc-list-item mdc-ripple-upgraded">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__text__primary">Two-line item</span>
                  <span class="mdc-list-item__text__secondary">Secondary text</span>
                </span>
      </a>
      <a href="#" class="mdc-list-item mdc-ripple-upgraded">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__text__primary">Two-line item</span>
                  <span class="mdc-list-item__text__secondary">Secondary text</span>
                </span>
      </a>
    </nav>
  </main>
</div>
</body>
</html>
